# s-super
.idea
.DS_Store

public/.htaccess
public/.idea
public/DataTables
public/.DS_Store
public/PHPExcel-1.8
public/TCPDF-master

public/api/.DS_Store
public/api/connect.php

public/public/.DS_Store
public/public/pic
public/public/css
public/public/js
public/public/vendor
public/public/pug
public/public/scss