# s-super
.idea
.DS_Store
.htaccess

DataTables
PHPExcel-1.8
TCPDF-master

api/.DS_Store
api/connect.php

public/.idea
public/.DS_Store
public/pic
public/css
public/js
public/vendor
public/pug
public/scss